@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.signup-form,
.confirmation-message {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
}
.signup-form.active,
.confirmation-message.active {
  display: block;
}
.signup-form h2,
.confirmation-message h2 {
  margin-bottom: 20px;
}
.signup-form label {
  display: block;
  margin-bottom: 8px;
}
.signup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #95a0da;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.signup-form button:hover {
  background-color: #7b88c3;
}
.error {
  color: red;
  margin-bottom: 20px;
}

h2 {
  color: #95a0da;
  text-align: center;
}

header {
  background-color: #95a0da;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
}

/* Footer Styles */
footer {
  background-color: #95a0da;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  font-size: 0.9em;
}
